.logo {
    width: 60px;
    height: 60px;
}

.headerText {
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.headerContainer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchInput {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
}


.headerIcon {
    font-size: 20px;
    margin-right: 10px;

}

.headerIcon:hover {
    cursor: pointer;
}